  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-container {
    position: relative;
    width: 30%;
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .image-description p {
    color: #fff;
    margin: 0;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    height: 80%;
  }

  .modal-content img{
    width: 100%;
    height: 80%;
  }
  .modal-content iframe {
    min-height: 500px;
    min-width: 90%;
  }

  .modal-content p {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 20px 2px 20px 2px;
  }

  .close {
    color: #ccc;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
  }

  .close:hover {
    color: #fff;
  }
  iframe {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  @media screen and (max-width: 767px) {
    .image-container{
        width:100%;
    }
    .image-container img {
        height: 180px;
    }
    .image-description p {
        font-size: 8px;
    }
  }
